@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--body-bg);
    color: var(--text-color);
    transition: 0.2s ease-in-out;
}

main {
    margin-left: var(--navbar-width);
    padding: 1rem;
}

.container {
    background-color: rgba(121, 109, 109, 0.3);
    max-width: 800px;
    margin: auto;
    padding: 1rem;
    border-radius: 0.5rem;
}

#privacy-note {
    color: gray;
}

#note {
    padding-top: 5rem;
    padding-bottom: 1rem;
    font-size: 0.9rem;
    text-align: center;
}

.inputs {
    padding-top: 3rem;
}

.inputs p {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 0.9rem;
}

.inputs input {
    transition: 0.2s ease-in-out;
    box-sizing: border-box;
    width: 100%;

    outline: none;
    overflow: hidden;
    font-size: 1rem;
    background: none;
    border: none;
    border-bottom: 1.5px solid rgb(125, 112, 112);
    border-radius: 0.1rem;
    color: var(--text-color);

    font-family: 'Open Sans', 'sans-serif';
    letter-spacing: 0.1ch;
    padding: 0.5rem;
}

.inputs input:focus {
    border-bottom: 1.5px solid var(--text-color);
    background: rgba(255, 255, 255, 0.1);
}

.inputs input::placeholder {
    color: rgb(125, 112, 112);
}

.inputs textarea {
    transition: 0.2s ease-in-out;
    box-sizing: border-box;
    width: 100%;

    resize: none;
    overflow: hidden;
    outline: none;
    height: 7rem;
    font-size: 1rem;
    background: none;
    border: solid 1.5px rgb(125, 112, 112);;
    border-radius: 0.3rem;
    color: var(--text-color);

    font-family: 'Open Sans', 'sans-serif';
    letter-spacing: 0.1ch;
    padding: 0.5rem;
}

.inputs textarea:focus {
    border: 1.5px solid var(--text-color);
    background: rgba(255, 255, 255, 0.1);
}

.inputs textarea::placeholder {
    color: rgb(125, 112, 112);
}

.inputs button {
    width: 8rem;
    height: 3rem;

    outline: none;
    border: none;
    border-radius: 0.3rem;
    background-color: var(--primary-color);
    color: #ececec;
    font-size: 0.9rem;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.inputs button:hover {
    background-color: rgb(85, 119, 194);
}

.inputs button:active {
    background-color: var(--primary-color);
}

main div {
    margin: auto;
    max-width: 1000px;
}

#logo {
    font-weight: bold;
    letter-spacing: 0.3ch;
    text-transform: uppercase;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    width: 100%;
}

#logo span {
    font-size: 1.5rem;
}

.menu-arrow {
    float: left;
    transition: var(--transition-speed);
    transform: rotate(0deg);
}

.navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: var(--transition-speed);
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-item {
    width: 100%;
}

.nav-link {
    display: flex;
    align-items: center;
    height: var(--navbar-width);
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.link-text {
    display: none;
    margin-left: 1rem;
    font-weight: bold;
    letter-spacing: 0.1ch;
}

.nav-link svg {
    min-width: calc(var(--navbar-width)/2);
    margin: 0 1.5rem;
}

.fa-primary {
    color: var(--primary-color);
    transition: var(--transition-speed);
}

@media only screen and (min-width: 851px) {
    .navbar {
        top: 0;
        width: var(--navbar-width);
        height: 100vh;
    }

    .navbar:hover {
        width: 20rem;
    }

    .navbar:hover .link-text {
        display: inline;
        transition: opacity var(--transition-speed);
    }

    .navbar:hover .menu-arrow {
        transform: rotate(-180deg);
    }
}

@media only screen and (max-width: 850px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: var(--navbar-width);
    }

    #logo {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    main {
        margin: 0;
    }
}